@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Titillium+Web:wght@300;400;700&display=swap');

$colors: (background: #494949,
    foreground:#506675,
    primary:#D37F00,
    text:#ffffff,
    secondary: #925904);


@function color($color-name) {
    @return map-get($colors, $color-name)
}


body {
    margin: 0;

}


#landingpage{
    background-color: color(background);
}



*{
    margin: 0;
    padding: 0;
}






a.navbar-brand{
    width: 15%;
}

a.navbar-brand img{
    width: 100%;
}

nav .nav-item{
    padding-right: 10rem;
    font-size: 40px;

}

.navbar, .showcase, .list-group, .footer{
    background-color: color(background) ;
    
}

.nav-link, h1, h3,h4, h5{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
}

.menu-text{
    color: #fff;
}

.menu-text:hover{
    color:color(primary);
}

#cart_count{
    text-align:center;
    
}

.showcase {
    color:color(primary);
    height: 40vh;
}

.h1{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 100px;
}

.h3{
    font-size: 40px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
}

.showcase h4{
    font-size: 30px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
}

.headerbanner{
    position: relative;
    background:url(../img/beerheadbanner.png);
    min-height: 700px;
    background-repeat: no-repeat;
    background-color: color(background);
    background-size: cover;
}

.headerbanner h4{
    position: absolute;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 50px;
    
}

.btn-primary{
    background-color: color(primary);
    border-color: color(primary);
}

.headerbanner .btn{
    position: absolute;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size:25px;
    margin-top: 250px;
    width:360px;
    height: 70px;
    border-radius: 15px;
}

.btn:hover{
    background-color: color(secondary);
    border-color: color(primary);
}

.modal-body .btn{
    font-family: 'Titillium Web', sans-serif;
}



.link-text:hover{
    color:color(primary);
}

.svginc{
    background-color:color(background); ;
    color:color(primary);
}

.navbar-toggler-icon{
    color:color(primary);
}


@media only screen and (max-width: 768px) {


    .welcomebanner h3{
        font-size: 30px;
    }

    .headerbanner h4, .showcase h3{
        font-size: 30px;
    }

    #footerimage{
        width: 400px;
       margin-left: 2rem;
    }

    .svginc{
        text-align: center;
    }

    #socialmenu{
        margin-left: 1rem;
    }

    .post{
        margin-left: 2rem;
    }

  .review-card {
     
      margin-bottom: 1rem;
      justify-content: center;
  }



}